name: Build WF
on:
  push:
    branches:
      - main
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Maven build
        run: mvn clean install

  Testing:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - uses: actions/checkout@v4
        name: Code checkout

      - name: Maven test
        run: mvn test
      -